<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style type="/static/css/style.css"></style>
    </head>
    <body>
        <div style="margin: 20px;">
            <label for="pokemon-input">ポケモン検索：</label>
            <!-- 💡 list="pokemon-options" で、下のdatalistとドッキングさせています -->
            <input type="text" id="pokemon-input" list="pokemon-options" placeholder="名前を入力、またはダブルクリックで一覧表示" style="padding: 8px; width: 300px;">
            
            <!-- 💡 ここにPythonからの選択肢が自動で入ります -->
            <datalist id="pokemon-options"></datalist>
        </div>
        <div style="margin: 20px;" id="pokemon-panel" class="pokemon-panel">
            
        </div>
        <script src="/static/js/script.js"></script>
    </body>

</html> 