<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>最強ダメージ計算ツール</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
</head>
<body>
{% macro pokemon_pannel(side, pokemon) %}
    <div id="{{side}}-pane" class="pane">
        <h3>{{side}}（{{pokemon['name']}}）</h3>
    </div>
{% endmacro %}
    <div class="flex-container row">


        <div id="middle-pane" class="pane flex-container column">
            <div id="mid-top" class="pane">
                <h3>フィールド（中央上）</h3>
            </div>
            <div id="mid-bottom" class="pane">
                <h3>計算結果（中央下）</h3>
            </div>
        </div>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>